params.image_cachedir = "${projectDir}/images"

process {
    withName: mSigHdp {
        container = 'ar39944/msighdp_amd64:0.0.2'
    }
    withName: SigProfilerAssignment {
        container = 'ar39944/sigprofilerassignment_amd64:0.0.2'
    }
    withName: SigProfilerPlotting {
        container = 'ar39944/sigprofilerplotting_amd64:0.0.1'
    }
}