params.image_cachedir = "${projectDir}/images"

process {
    withName: mSigHdp {
        container = 'ar39944/msighdp_amd64:0.1.2'
    }
    withName: SigProfilerAssignment {
        container = 'ar39944/sigprofilerassignment_amd64:0.0.1'
    }
    withName: SigProfilerPlotting {
        container = 'phuongle2510/sigprofiler_plotting:1.3.24'
    }
}