process {
    withName: mSigHdp {
        container = '/lustre/scratch125/casm/teams/team267/projects/DockerImages/msighdp_amd64:0.1.2'
    }
    withName: SigProfilerAssignment {
        container = '/lustre/scratch125/casm/teams/team267/projects/DockerImages/sigprofilerassignment_amd64:0.0.1'
    }
    withName: SigProfilerPlotting {
        container = '/lustre/scratch125/casm/teams/team267/projects/DockerImages/sigprofiler_plotting:1.3.24'
    }
}